<div class="chat-body">
    @for (int i = 0; i < 20; i++)
    {
        <div class="message">
            <header>Tetiana:</header>
            <p>Have a nice day!</p>
            <footer>21:00</footer>
        </div>



        <div class="message">
            <header>Ira:</header>
            <p>
                Hello, Reenbit! Hello, Reenbit! Hello, Reenbit! Hello, Reenbit! 
                Hello, Reenbit! Hello, Reenbit! Hello, Reenbit! Hello, Reenbit! 
                Hello, Reenbit! Hello, Reenbit! Hello, Reenbit! Hello, Reenbit! 
            </p>
            <footer>21:02</footer>
        </div>
    }
</div>

<div class="chat-input">
    <input type="text">
    <button>Send</button>
</div>

 